.content{
    background-color: rgb(255, 209, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    min-height: 5vh;
    padding: 2vh 5vw;
    background-image: linear-gradient(360deg, rgb(255, 102, 0), rgb(255, 137, 58), rgba(255, 203, 169, 0.649));
    border-top: 2px solid rgb(255, 102, 0);
}
.ticket-btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    background-color: blue;
    padding: 1vh 5vw;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14pt;
    margin: 2vh 0vw;
    width: 15vw;
    text-align: center;
    box-shadow: 0px 0px 3px 3px rgba(255, 102, 0, 0.545);
}
.btn:hover{
    background-color: rgb(255, 102, 0);
    color: rgb(107, 0, 143);
    box-shadow: 0px 0px 3px 3px rgba(0, 64, 255, 0.785);
}
.top .btn:hover{
    background-color: rgb(55, 0, 73);
    color: rgb(255, 102, 0);
}
.middle{
    padding: 5vh 5vw;
    width: 90%;
    background-image: url("../media/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    padding-top: 10vh;
}
.closing-cluster{
    background-color: transparent;
    border: 3px solid rgb(255, 102, 0);
    border-radius: 20px;
    padding: 2vh 2vw;
    margin-left: 50vw;
    width: 30vw;
    box-shadow: 0px 0px 2px 2px rgba(255, 102, 0, 0.626);
}
.closing-cluster:hover{
    background-color: rgb(55, 0, 73);
}
.closing{
    background-color: white;
    border-radius: 20px;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 26vw;
}
.bottom{
    background-color: rgb(255, 102, 0);
    width: 90vw;
    padding: 2vh 5vw;
    color: white;
}
.bottom h1{
    color: rgb(23, 0, 125);
    text-align: center;
    font-size: 24pt;
}
.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ticket-stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.stat-title{
    font-weight: bold;
    font-size: 14pt;
}
.stat-no{
    font-size: 28pt;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.routes{
    width: 90%;
    padding: 1vh 5vw;
}
.bus{
    background-color: aliceblue;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.479);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
}
.bus_icon{
    width: 80px;
    height: 80px;
}
.seat_icon{
    width: 50px;
    height: 50px;
}
.bus_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.bus_info p{
    font-size: 14pt;
}
.bus_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.bus_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
    width: 100%;
}
.seats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.available{
    font-size: 14pt;
    margin-bottom: 1vh;
    font-weight: bold;
}
.bus_name{
    color: rgb(107, 0, 143);
    font-weight: 900;
    font-family: "Charm", cursive;
    font-size: 16pt;
}
.area{
    color: rgb(255, 102, 0);
    font-weight: bold;
    font-family: candara;
}
.via{
    color: rgb(107, 0, 143);
    font-weight: bold;
    font-family: candara;
}
.amenities{
    margin-top: 2vh;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.334);
    border-radius: 10px;
}
.extra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lux{
    width: 30px;
    height: 30px;
}
.azam{
    width: 60px;
    height: 25px;
}
p.luxname{
    font-family: candara;
    font-size: 10pt;
}
.select{
    background-color: rgb(255, 102, 0);
    color: rgb(107, 0, 143);
    padding: 1vh 3vw;
    text-decoration: none;
    font-size: 14pt;
    font-family: candara;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 1vh;
    text-align: center;
}
.select:hover{
    color: rgb(255, 102, 0);
    background-color: rgb(107, 0, 143);
}
.center{
    min-height: 25vh;
    width: 5px;
    background-color: black;
}
@media(max-width: 950px){
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ticket-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .middle{
        background-image: url("../media/images/03.jpg");
        padding-top: 10vh;
    }
    .closing-cluster{
        width: 60vw;
        margin-left: 20vw;
    }
    .closing{
        width: 55vw;
        background-color: rgba(240, 248, 255, 0.627);
    }
    .btn{
        width: 75%;
    }
    .bus{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bus_info{
        width: 100%;
    }
    .bus_top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh;
    }
    .bus_bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vh;
    }
    .select{
        width: 70vw;
    }
    .center{
        width: 100%;
        min-height: 5px;
        height: 5px;
        margin: 2vh 0vw 2vh 0vw;
    }
    .amenities{
        width: 75vw;
    }
    .lux{
        width: 20px;
        height: 20px;
    }
}