.content{
    background-color: rgb(57, 0, 76);
    padding: 5vh 5vw;
    min-height: 80vh;;
}
.driver{
    padding: 3vh 3vw;
    background-image: linear-gradient(30deg, rgb(78, 31, 0), rgb(125, 50, 0), rgb(174, 70, 0), rgb(215, 86, 0), rgb(255, 102, 0));
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.588);
    width: 40vw;
    margin: auto;
}
.card-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.inputs{
    background-color: rgba(215, 255, 255, 0.807);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 95%;
    padding: 5px 10px;
    margin: 3vh 0vw;
    box-shadow: 0px 0px 2px 2px rgba(130, 197, 255, 0.708);
}
.inputs:hover{
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 255, 0.5);
}
input{
    width: 85%;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;
}
input:focus{
    border: none;
    outline: none;
}
input::placeholder{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
select{
    width: 85%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
}
select:focus{
    border: none;
    outline: none;
}
.alert{
    font-size: 10pt;
    color: rgb(255, 255, 255);
    font-weight: bold;

}
.signoff{
    background-color: blue;
    color: white;
    font-size: 14pt;
    font-family: candara;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 10px;
    width: 98%;
    border: none;
    cursor: pointer;
    margin: 2vh 0vw;
}
.signoff:hover{
    background-color: black;
}
.plus{
    position: fixed;
    bottom: 10vh;
    right: 2vw;
    background-color: rgb(255, 255, 255);
    color: blue;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 24pt;
    font-weight: bold;
    z-index: 100;
    box-shadow: 0px 0px 3px 3px rgba(255, 102, 0, 0.573);
    animation: drop 1.5s ease-in-out normal;
}
.plus:hover{
    background-color: rgb(255, 102, 0);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 255, 0.523);
}
.see{
    position: fixed;
    bottom: 10vh;
    left: 2vw;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 24pt;
    font-weight: bold;
    z-index: 100;
    box-shadow: 0px 0px 3px 3px rgba(255, 102, 0, 0.573);
    animation: drop2 1.5s ease-in-out normal;
}
.see:hover{
    background-color: rgb(255, 102, 0);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 255, 0.523);
}
.see .icons{
    width: 25px;
    height: 25px;
}
@keyframes drop {
    from{
        transform: translateY(-70vh);
        color: rgb(57, 0, 76);
        background-color: rgb(57, 0, 76);
        box-shadow: 0px 0px 3px 3px rgb(57, 0, 76);
    }
    to{
        transform: translateY(0vh);
        font-size: 24pt;
        background-color: rgb(255, 255, 255);
        color: blue;
        box-shadow: 0px 0px 3px 3px rgba(255, 102, 0, 0.573);
    }
}
@keyframes drop2 {
    from{
        transform: translateY(-70vh);
        color: rgb(57, 0, 76);
        background-color: rgb(57, 0, 76);
        box-shadow: 0px 0px 3px 3px rgb(57, 0, 76);
    }
    to{
        transform: translateY(0vh);
        font-size: 24pt;
        background-color: rgb(255, 255, 255);
        color: white;
        box-shadow: 0px 0px 3px 3px rgba(255, 102, 0, 0.573);
    }
}
@media(max-width: 950px){
    .content{
        min-height: 78vh;
    }
    .driver{
        width: 80vw;
    }
    .plus{
        right: 5vw;
        bottom: 12vh;
    }
    .see{
        left: 5vw;
        bottom: 12vh;
    }
    .see .icons{
        width: 20px;
        height: 20px;
    }
    .inputs{
        width: 70vw;
    }
    input{
        width: 80%;
    }
    select{
        width: 80%;
    }
    @keyframes drop {
        from{
            transform: translateX(-95vw);
            color: rgb(57, 0, 76);
            background-color: rgb(57, 0, 76);
            box-shadow: 0px 0px 3px 3px rgb(57, 0, 76);
        }
        to{
            transform: translateX(0vw);
            font-size: 24pt;
            background-color: rgb(255, 255, 255);
            color: blue;
            box-shadow: 0px 0px 3px 3px rgba(255, 102, 0, 0.573);
        }
    }
    @keyframes drop2 {
        from{
            transform: translateX(95vw);
            color: rgb(57, 0, 76);
            background-color: rgb(57, 0, 76);
            box-shadow: 0px 0px 3px 3px rgb(57, 0, 76);
        }
        to{
            transform: translateX(0vw);
            font-size: 24pt;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 3px 3px rgba(255, 102, 0, 0.573);
        }
    }
}