.content{
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.notify-sidebar{
    background-color: rgb(51, 0, 68);
    color: white;
    width: 20vw;
    min-height: 85vh;
}
.title{
    padding: 3vh 2vw;
    color: white;
    font-family: candara;
}
.title h1{
    font-size: 20pt;
    color: white;
}
.notify-sidebar-body{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.notify-sidebar-header{
    font-size: 16pt;
    font-family: candara;
    margin-bottom: 2vh;
    padding: 5px 10px;
    background-color: rgba(148, 0, 197, 0.444);
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgba(148, 0, 197, 0.444);
}
.notify-sidebar-header:hover{
    background-color: rgb(255, 102, 0);
}
.notify-content{
    min-height: 85vh;
    width: 75vw;
    padding: 2vh 2vw;
    background-color: white;
}
.dropdown{
    display: none;
}
.notification-message{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    padding: 1vh 1vw;
    background-color: rgba(195, 195, 195, 0.482);
    border-radius: 10px;
    margin-bottom: 2vh;
    border: 2px solid black;
    cursor: pointer;
}
.notification-message p{
    color: black;
    font-size: 14pt;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
}
.message-body{
    padding: 5vh 5vw;
    background-color: rgba(44, 44, 44, 0.427);
    border-radius: 20px;
    border: 2px solid rgba(148, 0, 197, 0.444);
    width: 30vw;
    margin: auto;
}
.msg-title h1{
    text-align: center;
    color: rgb(51, 0, 68);
    font-size: 20pt;
}
.msg-body{
    font-size: 14pt;
    text-align: justify;
    padding: 2vh 1vw;
}
.msg-body p {
    margin-top: 2vh;
    font-family: 'Times New Roman', Times, serif;
}
.approve{
    background-color:rgb(255, 102, 0);
    padding: 5px 10px;
    color: rgb(51, 0, 68);
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    font-size: 14pt;
    display: block;
    text-align: center;
    margin-top: 2vh;
}
.approve:hover{
    background-color: rgb(51, 0, 68);
    color: rgb(255, 102, 0);
}
@media(max-width: 900px){
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .notify-sidebar{
        display: none;
    }
    .dropdown{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 98vw;
    }
    .dropdown_btn{
        background-color: white;
        font-size: 28pt;
        font-weight: bold;
        width: 100vw;
        text-align: center;
        background-color: rgb(255, 102, 0);
    }
    .drop{
        width: 35px;
        height: 30px;
        z-index: 99;
    }
    .dropdown_menu{
        display: none;
    }
    .vertical_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 32vh;
        width: 96vw;
        padding: 2vh 2vw;
        background-color: rgba(148, 0, 197, 0.444);
        overflow-x: hidden;
        z-index: 99;
        animation: drop 1.5s ease-in-out normal;
    }
    .vertical_menu a{
        width: 100vw;
        padding: 1vh 2vw;
        font-size: 14pt;
        text-align: center;
        animation: drop1 1.5s ease-in-out normal;
    }
    .notify-content{
        width: 90vw;
        padding: 2vh 5vw;
    }
    .notification-message p{
        font-size: 12pt;
    }
    .message-body{
        width: 80vw;
    }
    .msg-body{
        width: 100%;
    }
    .approve{
        width: 95%;
    }
    @keyframes drop {
        from{
            height: 0vh;
        }
        to{
            height: 32vh;
        }
    }
    @keyframes drop1 {
        from{
            color: rgba(148, 0, 197, 0.444);
            padding: 0vh 0vw;
            font-size: 0pt;
        }
        to{
            color: white;
            padding: 1vh 2vw;
            font-size: 14pt;
        }
    }
}